<form action="/add" method="POST">
    <div class="mb-3">
        <div class="mb-3">
            <label for="titulo" class="form-label">Titulo: </label>
            <input type="text" class="form-control" name="titulo" id="titulo" placeholder="Titulo">
        </div>
        <div class="mb-3">
            <label for="conteudo" class="form-label">Conteudo: </label>
            <input type="text" class="form-control" name="conteudo" id="conteudo"
                placeholder="Descreva aqui qualquer porcaria">
        </div>
        <button class="btn btn-primary" type="submit">Cadastrar postagem</button>
    </div>
</form>